.nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    width: max-content; /* Adjusts width to the content */
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index: 1000; /* Ensures the navbar is on top of other content */
    margin-bottom: 10px;
  }
  
  .nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .nav li:hover {
    transform: scale(1.2);
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
    font-size: 35px;
  }
  
  .nav a:hover {
    color: #000; /* Changes color on hover */
  }

