.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./assets/background.png");
  background-size: cover;

  width: 100vw;
  overflow: auto; /* Allow scrolling */
}

/* Hide scrollbar for Webkit browsers */
.app::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

/* For Firefox */
.app {
  scrollbar-width: none; /* Hide scrollbar */
}

@media screen and (max-width: 600px) {
  .app {
    background-color:#84dcff;
    background-image: none;
  }
  
}